<?xml version="1.0" encoding="UTF-8"?>
<ToPX xmlns="http://www.nationaalarchief.nl/ToPX/v2.3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<bestand>
		<identificatiekenmerk>{{ data.identificatiekenmerk }}</identificatiekenmerk>
		<aggregatieniveau>Bestand</aggregatieniveau>
		<naam>{{ data.naam }}</naam>
		{% if data.classificatie %}
		<classificatie>
			<code>Code</code>
				<omschrijving>Omschrijving</omschrijving>
			<bron>Bron</bron>
			<datumOfPeriode>
				<datum>2006-05-04</datum>
			</datumOfPeriode>
		</classificatie>
		{% endif %}
		{% if data.omschrijving %}
		<omschrijving>{{ data.omschrijving }}</omschrijving>
		{% endif %}
		<plaats/>
		{% if data.dekking %}
		<dekking>
			<inTijd>
				<begin>
					<jaar>2016</jaar>
				</begin>
				<eind>
					<jaar>2016</jaar>
				</eind>
			</inTijd>
			<geografischGebied/>
		</dekking>
		{% endif %}
		{% if data.externIdentificatiekenmerk %}
		<externIdentificatiekenmerk>
			<kenmerkSysteem/>
			<nummerBinnenSysteem>Nummer binnen het systeem</nummerBinnenSysteem>
		</externIdentificatiekenmerk>
		{% endif %}
		<taal/>
		{% if data.eventGeschiedenis %}
		<eventGeschiedenis>
			<datumOfPeriode>
				<datum>2080-01-31</datum>
			</datumOfPeriode>
			<type>Type</type>
			<beschrijving/>
			<verantwoordelijkeFunctionaris>Verantwoordelijke functionaris</verantwoordelijkeFunctionaris>
		</eventGeschiedenis>
		{% endif %}
		{% if data.eventPlan %}
		<eventPlan>
			<datumOfPeriode>
				<datum>2080-01-31</datum>
			</datumOfPeriode>
			<type>Conversie</type>
			<beschrijving/>
			<aanleiding/>
		</eventPlan>
		{% endif %}
        {% if data.relatie %}
		<relatie>
			<relatieID>Relatie ID</relatieID>
			<typeRelatie>Relatie type</typeRelatie>
			<datumOfPeriode>
				<datum>2080-01-31</datum>
			</datumOfPeriode>
		</relatie>
		{% endif %}
		{% if data.context %}
		<context>
			<actor>
				<identificatiekenmerk>Identificatiekenmerk</identificatiekenmerk>
				<aggregatieniveau/>
				<geautoriseerdeNaam>Geautoriseerde naam</geautoriseerdeNaam>
				<plaats/>
				<jurisdictie/>
			</actor>
			<activiteit>
				<identificatiekenmerk/>
				<aggregatieniveau/>
				<naam>Naam</naam>
			</activiteit>
		</context>
		{% endif %}
		{% if data.gebruiksrechten %}
		<gebruiksrechten>
			<omschrijvingVoorwaarden>Geen gebruiksrechten</omschrijvingVoorwaarden>
			<datumOfPeriode>
				<jaar>2016</jaar>
			</datumOfPeriode>
		</gebruiksrechten>
		{% endif %}
		{% if data.vertrouwelijkheid %}
		<vertrouwelijkheid>
			<classificatieNiveau>Niet vertrouwelijk</classificatieNiveau>
			<datumOfPeriode>
				<jaar>2080</jaar>
			</datumOfPeriode>
		</vertrouwelijkheid>
		{% endif %}
		{% if data.openbaarheid %}
		<openbaarheid>
			<omschrijvingBeperkingen>Openbaar</omschrijvingBeperkingen>
			<datumOfPeriode>
				<jaar>2080</jaar>
			</datumOfPeriode>
		</openbaarheid>
		{% endif %}
        {% if data.vorm %}
		<vorm>
			<redactieGenre>Genre</redactieGenre>
			<verschijningsvorm/>
			<structuur/>
		</vorm>
		{% endif %}
		{% if data.integriteit %}
		<integriteit>Integriteit</integriteit>
		{% endif %}
		{% if data.formaat %}
		<formaat>
			<identificatiekenmerk>{{ data.formaat.identificatiekenmerk }}</identificatiekenmerk>
			<bestandsnaam>
				<naam>{{ data.formaat.bestandsnaam.naam }}</naam>
				<extensie>{{ data.formaat.bestandsnaam.extensie }}</extensie>
			</bestandsnaam>
			<type/>
			<omvang>{{ data.formaat.omvang }}</omvang>
			<bestandsformaat/>
			{% if data.formaat.creatieapplicatie %}
			<creatieapplicatie>
				<naam/>
				<versie/>
				<datumAanmaak>2080-01-31</datumAanmaak>
			</creatieapplicatie>
			{% endif %}
			{% if data.formaat.fysiekeintegriteit %}
			<fysiekeIntegriteit>
				<algoritme>{{ data.formaat.fysiekeintegriteit.algoritme }}</algoritme>
				<waarde>{{ data.formaat.fysiekeintegriteit.waarde }}</waarde>
				<datumEnTijd>{{ data.formaat.fysiekeintegriteit.datumentijd }}</datumEnTijd>
			</fysiekeIntegriteit>
            {% endif %}
            {% if data.formaat.datumaanmaak %}
			<datumAanmaak>2080-01-31</datumAanmaak>
			{% endif %}
			{% if data.formaat.eventplan %}
 			<eventPlan>
				<datumOfPeriode>
					<datum>2080-01-31</datum>
				</datumOfPeriode>
				<type>Type</type>
				<beschrijving/>
				<aanleiding/>
			</eventPlan>
			{% endif %}
			<relatie/>
		</formaat>
		{% endif %}

		<generiekeMetadata/>
	</bestand>
</ToPX>
