<?xml version="1.0" encoding="UTF-8"?>
<ToPX xmlns="http://www.nationaalarchief.nl/ToPX/v2.3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<aggregatie>
		<identificatiekenmerk>{{ data.identificatiekenmerk }}</identificatiekenmerk>
		<aggregatieniveau>Dossier</aggregatieniveau>
		<naam>{{ data.naam }}</naam>
		{% if data.classificatie %}
		<classificatie>
			<code>{{ data.classificatie.code }}</code>
			<omschrijving>{{ data.classificatie.omschrijving }}</omschrijving>
			<bron>{{ data.classificatie.bron }}</bron>
			<datumOfPeriode>
				<datum>{{ data.classificatie.datum}}</datum>
			</datumOfPeriode>
		</classificatie>
		{% endif %}
		<omschrijving>{{ data.omschrijving }}</omschrijving>
		{% if data.plaats %}
		<plaats>{{ data.plaats }}</plaats>
		{% endif %}
		{% if data.dekking %}
		<dekking>
		    {% if data.dekking.intijd %}
			<inTijd>
				<begin>
					<jaar>{{ data.dekking.intijd.begin.jaar }}</jaar>
				</begin>
				<eind>
					<jaar>{{ data.dekking.intijd.eind.jaar }}</jaar>
				</eind>
			</inTijd>
			{% endif %}
			{% if data.dekking.geografischgebied %}
			{% for adres in data.dekking.geografischgebied.adressen %}
			<geografischGebied>{{ adres }} </geografischGebied>
			{% endfor %}
			{% endif %}
		</dekking>
		{% endif %}
		{% if data.externIdentificatiekenmerk %}
		<externIdentificatiekenmerk>
			<kenmerkSysteem/>
			<nummerBinnenSysteem>Nummer binnen het systeem</nummerBinnenSysteem>
		</externIdentificatiekenmerk>
		{% endif %}
		<taal/>
		{% if data.eventGeschiedenis %}
		<eventGeschiedenis>
			<datumOfPeriode>
				<datum>2006-05-04</datum>
			</datumOfPeriode>
			<type>Type</type>
			<beschrijving/>
			<verantwoordelijkeFunctionaris>Verantwoordelijke functionaris</verantwoordelijkeFunctionaris>
		</eventGeschiedenis>
		{% endif %}
		{% if data.eventPlan %}
		<eventPlan>
			<datumOfPeriode>
				<datum>2006-05-04</datum>
			</datumOfPeriode>
			<type>Conversie</type>
			<beschrijving/>
			<aanleiding/>
		</eventPlan>
		{% endif %}
        {% if data.relatie %}
		<relatie>
			<relatieID>Relatie ID</relatieID>
			<typeRelatie>Type relatie</typeRelatie>
			<datumOfPeriode>
				<datum>2006-05-04</datum>
			</datumOfPeriode>
		</relatie>
		{% endif %}
		{% if data.context %}
		<context>
			<actor>
				<identificatiekenmerk>Identicatiekenmerk</identificatiekenmerk>
				<aggregatieniveau/>
				<geautoriseerdeNaam>Geatutoiseerde naam</geautoriseerdeNaam>
				<plaats/>
				<jurisdictie/>
			</actor>
			<activiteit>
				<identificatiekenmerk/>
				<aggregatieniveau/>
				<naam>Naam</naam>
			</activiteit>
		</context>
		{% endif %}
		{% if data.gebruiksrechten %}
		<gebruiksrechten>
			<omschrijvingVoorwaarden>Geen gebruiksrechten</omschrijvingVoorwaarden>
			<datumOfPeriode>
				<jaar>2080</jaar>
			</datumOfPeriode>
		</gebruiksrechten>
		{% endif %}
		{% if data.vertrouwelijkheid %}
		<vertrouwelijkheid>
			<classificatieNiveau>Niet vertrouwelijk</classificatieNiveau>
			<datumOfPeriode>
				<jaar>2080</jaar>
			</datumOfPeriode>
		</vertrouwelijkheid>
		{% endif %}
		{% if data.openbaarheid %}
		<openbaarheid>
			<omschrijvingBeperkingen>Openbaar</omschrijvingBeperkingen>
			<datumOfPeriode>
				<jaar>2080</jaar>
			</datumOfPeriode>
		</openbaarheid>
		{% endif %}
        {% if data.vorm %}
		<vorm>
			<redactieGenre></redactieGenre>
			<verschijningsvorm></verschijningsvorm>
			<structuur></structuur>
		</vorm>
		{% endif %}
		<integriteit></integriteit>
		<generiekeMetadata>
		</generiekeMetadata>
	</aggregatie>
</ToPX>
